deepspeed==0.15.1
Flask==3.0.3
Flask_Cors==5.0.0
huggingface_hub==0.25.1
numpy==1.26.4
openai==1.51.0
pandas==2.2.3
peft==0.13.0
psutil==6.0.0
pydantic==2.9.2
pygraphviz==1.14
PyYAML==6.0.2
requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
sentence_transformers==3.1.1
tenacity==8.5.0
termcolor==2.4.0
torch==2.4.1
tqdm==4.66.5
transformers==4.45.1
datasets==3.0.1
